h1= user.name

form(action="/users/" + encodeURIComponent(user.username), method="POST") 
	input(name="_method", type="hidden", value="PUT")
	p
		label(for="name") Name<br />
		input#name(name="name", value=user.name) 
	p
		label(for="password") Password<br />
		input#password(type="password",name="password", value=user.password) 
			
	p
		input(type="submit", value="Edit User")